<h1>New Restaurante</h1>

<%= render 'form', restaurante: @restaurante %>

<%= link_to 'regresar', mapa_path %>
<% if can? :update, @restaurante %>
<%= link_to 'Ir a restaurantes', restaurantes_path %>
<% end %>